{% extends "::base.html.twig" %}

{% block title %}Home Administrateur{% endblock %}

{% block body %}
    <h1>Listes des articles</h1>

    <a href="{{ path("addArticle") }}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> Ajouter un article
    </a>

    {% set cpt = 0 %}

    {% for art in articles %}
        {% if cpt%3 == 0 %}
            <div class="row">
        {% endif %}
            <div class="col-md-4 portfolio-item article">
                <a href="#">
                    <img class="img-responsive" src="{{ art.picture }}" alt="">
                </a>
                <h3>
                    <a href="#">{{ art.name }}</a> <p class="price">{{ art.price }} €</p>
                </h3>
                <h5>
                    {{ art.length }} x {{ art.width }} x {{ art.thickness }}
                </h5>
                <p>{{ art.description }}</p>
                <a href="{{ path("deleteArticle", {'id':art.id}) }}" class="btn btn-danger">
                    Supprimer
                </a>
                <a href="{{ path("editArticle", {'id':art.id}) }}" class="btn btn-danger">
                    Editer
                </a>
            </div>
        {% if cpt%3 == 2 %}
            </div>
        {% endif %}

        {% set cpt = cpt + 1 %}

    {% endfor %}

    {% if cpt%3 != 2 %}
        </div>
    {% endif %}

{% endblock %}
